<header>
  <div class="flex flex-row justify-between p-4">
    <div>
      <!-- <h1>Logo</h1> -->
    </div>
    <div>
      <!-- <div class="h-10 w-10 rounded-full border border-black"></div> -->
    </div>
  </div>
</header>
