---
import "@/styles.css";

import Layout from "@/layouts/Layout.astro";
import ImageGallery from "@/components/ImageGallery.astro";
import SearchForm from "@/components/SearchForm.svelte";
---

<Layout title="ImageSearcher">
  <main class="flex flex-col gap-4 px-24 py-12">
    <div class="m-auto flex max-w-7xl flex-col items-center gap-4">
      <h1 class="flex flex-col text-6xl font-bold">Image Searcher</h1>
      <SearchForm client:only />
    </div>
    <ImageGallery />
  </main>
</Layout>
